<header class="header">
  <nav id="header" class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header">
        <!--Navbar header-->
        <a href="/home" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase">
            <strong class="text-primary">Infless</strong>
            <strong>Investment</strong>
            <span class="badge badge-warning">Pro</span>
            <!--span class="badge badge-success">v3.0.1</span-->
          </div>
          <div class="brand-text brand-sm text-uppercase">
            <strong class="text-primary">Infless</strong>
            <strong>Investment</strong>
            <span class="badge badge-warning">Pro</span>
            <!--span class="badge badge-success">v3.0.1</span-->
          </div>
        </a>
        <% if(user.role_id==2 || user.role_id==3) {%>
        <div class="navbar-brand">
          <div class="brand-text brand-sm visible text-uppercase">
            <div class="badge badge-danger jumpButton" id="changePageBtn"> <!--Need at least 1 spaces to display the icon--></div>
          </div>
        </div>
        <% } %>
      </div>
      <div id="userHeaderPc" class="user-header d-flex align-items-center">
        <div class="title text-right">
          <h1 class="h5" id="user"><%= user.name %></h1>
          <% if(user.role_id==2 || user.role_id==3) {%>
            <p id="role-name"><%= user.role_name %> </p>
          <% } else {
            var user_expire_date=new Date(user.expire_date);
            day=user_expire_date.getDate();
            month=user_expire_date.getMonth()+1;
            if((String(day)).length==1)
            day='0'+day;
            if((String(month)).length==1)
            month='0'+month;

            var dateT=day+ '/' + month + '/' + user_expire_date.getFullYear();
            %>
            <p id="role-name">Hạn sử dụng: <%- dateT %></p>
          <% } %>
        </div>
        <a href="/user">
          <div class="avatar"><img src="img/icons/profle-512.png" alt="..." class="img-fluid rounded-circle"></div>
          <div id="user_phone" style="display:none">
            <%= user.phone %>
          </div>
        </a>
      </div>
      <a href="javascript:void(0);" id="respMenuIcon" onclick="toggleRespMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
  <div id="token" style="display:none"><%= user.token %></div>
</header>
<nav id="mobileNav" class="mobileNav">
  <%- include('menu.ejs',{device:'mobile'}) %>
</nav>
<div class="overlay overlay-dark" id="pageNavigation-wrapper" style="display: none;">
  <div id="pageNavigation">
      <div class="modal-content welcome-content client-form-content">
        <div class="modal-header d-flex justify-content-center">
          <h3 class="heading">Chuyển trang</h3>
        </div>
        <div class="modal-body">
            <div class="container">
              <div class="row">
                <% if(user.role_id==2) { %>
                  <div class="col-lg-4 col-12">
                  <!--div class="col-lg-6 col-12"-->
                    <a href="/home" class="btn btn-secondary" style="width:100%">Khách hàng</a>
                  </div>
                  <div class="col-lg-4 col-12">
                  <!--div class="col-lg-6 col-12"-->
                    <a href="/manager" class="btn btn-secondary" style="width:100%">Quản lý</a>
                  </div>
                  <div class="col-lg-4 col-12">
                    <a href="/fx" class="btn btn-secondary" style="width:100%">Forex</a>
                  </div>
                <% } %>
                <% if(user.role_id==3) { %>
                  <div class="col-lg-6 col-12">
                    <a href="/home" class="btn btn-secondary" style="width:100%">Khách hàng</a>
                  </div>
                  <div class="col-lg-6 col-12">
                    <a href="/manager" class="btn btn-secondary" style="width:100%">Quản lý</a>
                  </div>
                <% } %>
              </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <span id="pageNavigation-close" class="btn btn-danger">Đóng</span>
        </div>
      </div>
  </div>
</div>
