<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs',{page_name:'Trang quản lý'}) %>

    <body>
        <%- include('hotStyles.ejs') %>
        <style>
        .tab-container {
        /*border: 1px solid #ccc;*/
        border-radius: 5px;
        overflow: hidden;
        }

        .tab-header {
        /*display: flex;
        flex-direction: row;*/
        }

        .btn {
        /*background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px 5px 0 0;*/
        transition: background-color 0.3s ease;
        }

        .btn:hover {
        background-color: #ffc107;
        }

        .btn.active {
        background-color: #bb414d;
        color: #fff;
        }

        .tab-content {
        padding: 20px;
        display: none;
        }

        .tab-content.active {
        display: block;
        }
        </style>
            <!-- Loader -->
            <div id="loading">
                <img id="loading-image" src="/img/Gordon.gif" alt="Loading..." />
            </div>
            <div id="syncScreen">
                <div id="syncText">
                    <img id="loading-image" src="/img/Gordon.gif" alt="Loading..." />
                    <h4 id="syncTextContent" style="position:relative;top:60%">Đang kết nối với mobile app</h4>
                </div>
            </div>
            <!-- HEADER BEGIN -->
            <%- include('menus/headerMenu.ejs',{user}) %>
                <!-- HEADER END -->
                <div class="d-flex align-items-stretch">
                    <nav id="sidebar">
                        <%- include('menus/menu.ejs',{device:'pc'}) %>
                    </nav>

                    <div class="page-content" style="padding-bottom:70px;">



                        <div class="page-header">
                            <div class="container-fluid">
                                <h2 class="h5 no-margin-bottom">Tổng quan</h2>
                            </div>
                        </div>

                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="block">
                                            <div class="title">Kết nối app: <span id="appconnect"></span></div>
                                            <div id="custoken" style="word-wrap: break-word"></div>
                                            <div class="btn btn-primary" id="gglogin">Đăng nhập Google</div>
                                        </div>

                                        <div class="block">
                                            <h4 class="title">Thời hạn khuyến mại landing page</h4>
                                            <form>
                                              <input type="date" id="date-input" name="date-input" style="height: 32px; vertical-align: middle;">
                                              <div class="btn btn-danger" style="height: 32px; vertical-align: middle; margin: 0px !important;">Duyệt</div>
                                            </form>
                                        </div>
                                    </div>

                                    <!--div class="col-lg-6 col-12">
              <div class="block">
                <h4 class="title" style="display:flex;margin-bottom:20px">Note những việc cần làm <div class="btn btn-success todo-add">+ Thêm mới</div></h4>
                <div class="container">
                  <div class="row">
                    <div class="col-12 p-3 todo">
                      <ul>
                        <% for(var i=0; i < 10; i++) { %>
                        <li>
                          <div class="todo-content-left">
                              <div class="todo-heading">Call Sam For payments</div>
                              <div class="todo-subheading"><i>By Bob</i></div>
                          </div>
                          <div class="todo-content-right">
                            <button class="border-0 btn-transition btn btn-outline-success"> <i class="fa fa-check"></i></button>
                            <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button>
                          </div>
                        </li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div-->

                                    <div class="col-lg-6 col-12">
                                        <div class="block">
                                            <h4 class="title" style="display:flex;margin-bottom:20px">Update 13/03/2023</h4>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12 p-3 todo">
                                                        <ul>

                                                            <li>
                                                                <div class="todo-content-left">
                                                                    <div class="todo-heading">Update landing page (test nội bộ)</div>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% if(user.role_id==2) { %>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="block">
                                                <h4 class="title">Admin tools</h4>
                                                <div class="btn" id="create-fundpf-btn" style="background-color:#9100ff">Tạo danh mục quỹ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </section>
                        <section>
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-12">
                                <div class="block">
                                    <h4 class="title">Khách landing page</h4>
                                    <div class="tab-container">
                                      <div class="tab-header">
                                        <button class="btn tab-button active" onclick="openTab(event, 'tab1')">Mới đăng ký</button>
                                        <button class="btn tab-button" onclick="openTab(event, 'tab2')">Đã duyệt</button>
                                        <button class="btn tab-button" onclick="openTab(event, 'tab3')">Đã hủy</button>
                                      </div>
                                      <div class="tab-content active" id="tab1">
                                      </div>
                                      <div class="tab-content" id="tab2">
                                      </div>
                                      <div class="tab-content" id="tab3">
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>


                    </div>
                </div>
    </body>
    <%- include ('tail.ejs') %>
        <script src="/js/favico.min.js"></script>
        <script src="/js/custom-script.js"></script>
        <script type="module" src="/js/managerappconnect.js"></script>
        <script>
          function openTab(evt, tabName) {
          var i, tabContent, tabButton;
          tabContent = document.getElementsByClassName("tab-content");
          for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
          }
          tabButton = document.getElementsByClassName("tab-button");
          for (i = 0; i < tabButton.length; i++) {
            tabButton[i].className = tabButton[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
          }
        </script>
        <script>
          function fetchData(url) {
            let data = {
              cmd: ''
            };
            switch (url) {
              case '/securities/api/getlandingdata/':
                data.cmd = 'getlandingdata';
                break;
              default:
                data.cmd = '';
            }
            fetch(url, {
              method: 'POST',
              body: JSON.stringify(data),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => response.text())
            .then(data => {
              let resp = JSON.parse(data);
              if(resp.error == 0) {
                //console.log(resp.data);
                switch (resp.cmd) {
                  case 'getlandingdata':
                    console.log(resp.data);
                    const container = document.getElementById('tab1');
                    const table = document.createElement('table');
                    table.setAttribute('style','width:100%;');
                    const headerRow = document.createElement('tr');
                    headerRow.innerHTML = '<th>Ngày</th><th>Tên</th><th>Phone</th><th>Email</th><th>Address</th><th></th>';
                    table.appendChild(headerRow);
                    // Loop through the data array and create a new row for each record
                    resp.data.forEach(record => {
                      const row = document.createElement('tr');

                      // Add six cells to the row
                      const cellId = document.createElement('td');
                      cellId.setAttribute('style','display:none');
                      cellId.textContent = record.id;
                      const cellDate = document.createElement('td');
                      cellDate.textContent = convertDate(record._date);
                      const cellName = document.createElement('td');
                      cellName.textContent = record.name;
                      const cellPhone = document.createElement('td');
                      cellPhone.textContent = record.phone;
                      const cellEmail = document.createElement('td');
                      cellEmail.textContent = record.email;
                      const cellAddress = document.createElement('td');
                      cellAddress.textContent = record.address;
                      const cellApproval = document.createElement('td');
                      const btnAccept = document.createElement('div');
                      btnAccept.setAttribute('class','btn btn-success mr-1');
                      btnAccept.textContent = 'Duyệt';
                      btnAccept.setAttribute('onclick', 'alert("Duyệt ID = '+ record.id +'")');
                      const btnCancel = document.createElement('div');
                      btnCancel.setAttribute('class','btn btn-danger');
                      btnCancel.textContent = 'Hủy';
                      btnCancel.setAttribute('onclick', 'alert("Hủy ID = '+ record.id +'")');
                      cellApproval.appendChild(btnAccept);
                      cellApproval.appendChild(btnCancel);

                      row.appendChild(cellId);
                      row.appendChild(cellDate);
                      row.appendChild(cellName);
                      row.appendChild(cellPhone);
                      row.appendChild(cellEmail);
                      row.appendChild(cellAddress);
                      row.appendChild(cellApproval);

                      // Add the row to the table
                      table.appendChild(row);
                    });
                    container.appendChild(table);
                    break;
                  default:
                    console.log(resp.data);
                }
              }
            })
            .catch(error => {
              console.error(error);
            });
          }
          // Wait for the page to finish loading
          window.addEventListener('load', fetchData("/securities/api/getlandingdata/"));

          function convertDate(dateString) {
            const date = new Date(dateString);
            const day = date.getUTCDate();
            const month = date.getUTCMonth() + 1; // getUTCMonth() returns 0-indexed months, so we add 1 to get the correct month
            const year = date.getUTCFullYear();
            return `${day < 10 ? '0' + day : day}/${month < 10 ? '0' + month : month}/${year}`;
          }

        </script>

</html>
