<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs',{page_name:'Trang quản lý'}) %>
<body>
  <%- include('hotStyles.ejs') %>
  <!-- Loader -->
  <div id="loading">
    <img id="loading-image" src="/img/Gordon.gif" alt="Loading..." />
  </div>
  <div id="syncScreen">
    <div id="syncText">
      <img id="loading-image" src="/img/Gordon.gif" alt="Loading..." />
      <h4 id="syncTextContent" style="position:relative;top:60%">Đang kết nối với mobile app</h4>
    </div>
  </div>
  <!-- HEADER BEGIN -->
  <%- include('menus/headerMenu.ejs',{user}) %>
  <!-- HEADER END -->
  <div class="d-flex align-items-stretch">
    <nav id="sidebar">
      <%- include('menus/menu.ejs',{device:'pc'}) %>
    </nav>

    <div class="page-content" style="padding-bottom:70px;">



      <div class="page-header">
        <div class="container-fluid">
          <h2 class="h5 no-margin-bottom">Tổng quan</h2>
        </div>
      </div>

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="block">
                <h4 class="title">Người dùng mới đăng ký</h4>
                <div class="number dashtext-1" style="font-size:2em;text-align:right;">1,000</div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                </div>
                <div style="text-align:right"><a class="text-light" href="../new-customers">Xem chi tiết</a></div>
              </div>
              <div class="block">
                <h4 class="title">Người dùng sắp hết hạn</h4>
                <div class="number dashtext-3" style="font-size:2em;text-align:right;">1,000</div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                </div>
                <div style="text-align:right"><a class="text-light" href="../expire-customers">Xem chi tiết</a></div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="block">
                <h4 class="title" style="display:flex;margin-bottom:20px">Note những việc cần làm <div class="btn btn-success todo-add">+ Thêm mới</div></h4>
                <div class="container">
                  <div class="row">
                    <div class="col-12 p-3 todo">
                      <ul>
                        <% for(var i=0; i < 10; i++) { %>
                        <li>
                          <div class="todo-content-left">
                              <div class="todo-heading">Call Sam For payments</div>
                              <div class="todo-subheading"><i>By Bob</i></div>
                          </div>
                          <div class="todo-content-right">
                            <button class="border-0 btn-transition btn btn-outline-success"> <i class="fa fa-check"></i></button>
                            <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button>
                          </div>
                        </li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% if(user.role_id==2) { %>
            <div class="row">
              <div class="col-12">
                <div class="block">
                  <h4 class="title">Admin tools</h4>
                  <div class="btn" id="create-fundpf-btn" style="background-color:#9100ff">Tạo danh mục quỹ</div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </section>



    </div>
  </div>
</body>
<%- include ('tail.ejs') %>
<script src="/js/favico.min.js"></script>
<script src="/js/custom-script.js"></script>
<script>
  document.getElementById('create-fundpf-btn').addEventListener('click',function(){
    console.log('Bingo!');
    let bodyObj = {cmd:'create-fundpf'};
    fetch("/manager", {
      method: "POST",
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(bodyObj)
    })
    .then(res => res.json())
    .then(res => console.log(res))
    .catch(err => console.log(err));
  });
</script>
<script type="module">
  var socket = io('https://infless-copy-trade-clone-001.herokuapp.com/', { transport : ['websocket'] });

  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyA55RLyd-DL6oF50Ijb6f8TY5ev9LcnV-A",
    authDomain: "fundmntsystem.firebaseapp.com",
    projectId: "fundmntsystem",
    storageBucket: "fundmntsystem.appspot.com",
    messagingSenderId: "907222202776",
    appId: "1:907222202776:web:5c7cf5d2e49f6c7e1393ed"
  };


  firebase.initializeApp(firebaseConfig);

  // Google provider
  var provider = new firebase.auth.GoogleAuthProvider();

  document.onload = function() {
    firebase.auth().signInWithRedirect(provider);
  };

  // Sign in from redirect
  firebase.auth()
    .getRedirectResult()
    .then((result) => {
      if (result.credential) {
        //** @type {firebase.auth.OAuthCredential}
        var credential = result.credential;

        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = credential.accessToken;
        // ...
        console.log('Success!!! ');
        console.log('===================');
      }

      let currentUser = firebase.auth().currentUser;
      if(currentUser == undefined) console.log('undefined user');
      else {
        console.log(currentUser.email);

        currentUser.getIdToken().then(function(idToken) {
          console.log(idToken);
          //document.getElementById('idToken').innerHTML = idToken;
          let data = {idToken: idToken};

          fetch("/addcustoken", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
          }).then(res => res.json())
          .then(res => {
            //console.log(res);
            if(res.custoken) {
              console.log(res.custoken);
              var m = new Date();
              var dt = m.getFullYear() +"-"+ addZero(m.getMonth()+1) +"-"+ addZero(m.getDate())  + " " + addZero(m.getHours()) + "-" + addZero(m.getMinutes()) + "-" + addZero(m.getSeconds());
              socket.emit('vol21Admin', {
                'key':'tungdeptrai',
                'DateTime':dt,
                'cmd':{
                  'cmdHeader':'connect',
                  'cmdContent': JSON.stringify(res)
                }
              });

            }
          })
          .catch(err => {
            console.log(err);
          });
        });
      }


    }).catch((error) => {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      var credential = error.credential;
      // ...
      console.log('ERROR: ', errorCode, errorMessage);
    });

    setTimeout(() => {
      let syncScreen = document.getElementById('syncScreen');
      syncScreen.style.display = 'none';
    }, 5000);

    socket.on('vol21Admin', function(data){
      if(data.msgHeader == "connectionConfirm"){
        let syncScreen = document.getElementById('syncScreen');
        if(syncScreen!=undefined) {
          syncScreen.style.display = 'none';
        }
      } else {
        console.log('//----Admin command----');
        console.log(data.cmd.cmdHeader);
        console.log(data.cmd.cmdContent);
      }
    });

    socket.on('apiResponse', function(data){
      console.log('//----API response----');
      console.log(data);
    });

</script>
</html>
